<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">AH</h1>
        </div>
        <h3>Welcome to PERFORMAN</h3>
        <p>The Personal Performance Information System of Andre Hebben.</p>
        <p>Login in. To see it in action.</p>
        <form class="form-signin" method="post" class="m-t">
            <div class="form-group">
                {{  formElement(form.get('email')) }}
            </div>
            <div class="form-group">
                {{  formElement(form.get('password')) }}
            </div>
            <div class="form-group">
            {{  formElement(form.get('remember_me')) }} Remember me
            </div>
            {{  formElement(form.get('redirect_url')) }}
            {{  formElement(form.get('csrf')) }}
            <button type="submit" class="btn btn-primary block full-width m-b">Sign In</button>

            <a href="{{  url('reset-password') }}"><small>Forgot password?</small></a>
        </form>
    </div>
</div>